<div class="container">
  <div class="row">
    <div class="span-one-third">
      <h3>Inspiration</h3>
      <p>This site was inspired by
        <a href="http://www.refresh-sf.com/yui/">YUI Compressor</a>, and wouldn't
        have been possible without <a href="https://github.com/GoalSmashers/clean-css">clean-css</a> and
        <a href="https://github.com/MrSwitch/dropfile">dropfile.js</a>.</p>
    </div>
    <div class="span-one-third">
      <h3>Github</h3>
      <p>If you're interested in looking through the source code, all of it is <a href="https://github.com/zachwill/excssive">available on Github</a>.</p>
    </div>
    <div class="span-one-third">
      <h3>Links</h3>
      <p>Want to see some of my other projects? Here's a link to my <a href="http://www.zachwill.com">personal site</a> and <a href="http://twitter.com/zachwill">Twitter account</a>.</p>
    </div>
  </div>
</div>
