{% extends "base.html" %}


{% block js %}
{% include "mustache.html" %}
{% endblock %}


{% block main %}
<div class="container">
  <div class="row">

    <div class="span6 info">
      <p>No one likes bloated CSS. Simply drag and drop your CSS
      files onto this page, and watch as they're compressed on the
      fly.</p>
      <p>Worried about the ordering of the files you drop? Don't be. A
      list of sortable and removable files is produced.</p>
      <p>Once you're done sorting the file hierarchy, simply copy the minified
      output and save it to a new a file.</p>
    </div>

    <div class="span10">
      <iframe src="http://player.vimeo.com/video/31356476?title=0&byline=0&portrait=0&color=b21df8"
              width="560" height="350" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
    </div>

  </div>
</div>

<div class="append hidden">
  <div class="container">

    <div class="page-header">
      <h1>Compressed CSS <small>That's both sortable and removable</small></h1>
    </div>

    <div class="row">

      <ul class="sortable-list span6"></ul>
      <div class="span10">
        <textarea name="output" id="output" rows="16"></textarea>
      </div>

    </div>
  </div>
</div>
{% endblock %}


{% block footer %}
{% include "footer.html" %}
{% endblock %}
